@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-wo3s8l');
  src:url('../fonts/icomoon.eot?#iefix-wo3s8l') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-wo3s8l') format('woff'),
    url('../fonts/icomoon.ttf?-wo3s8l') format('truetype'),
    url('../fonts/icomoon.svg?-wo3s8l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}